<div class="left-side">
    <h2>Welcome, {{data.[0].[0].user.name}}</h2>

        <script>
        function updateWelcomeMessage() {
            // fetch the updated data from the server
            fetch('/seeds/UserData')
            .then(response => response.json())
            .then(data => {
                // update the content of the h2 element
                const welcomeMessage = `Welcome, ${data[0][0].user.name}`;
                document.querySelector('#welcome-message').textContent = welcomeMessage;
            })
            .catch(error => {
                console.error('Failed to update welcome message:', error);
            });
        }
        // update the welcome message once after the page loads
        updateWelcomeMessage();
        </script>

    <form class="form start-sharing">
        <button type="submit" class="btn btn-primary">ADD SUBSCRIPTION</button>
    </form>

    <p>{{sharingData.message}}</p>

    <h3>The services you are sharing:</h3>
    <div>
        {{#each data.[0]}}
        <h5> {{this.streamingService.stream_name}}  </h5>
        {{/each}}
    </div>

    <h3> You are now using:</h3>
        {{#each data.[1]}}
        <h5>{{this.streamingService.stream_name}}</h5>
        {{/each}}
    <div>

    </div>
</div>

<div class="right-side">
    <select id="service-dropdown">
      <option value="Netflix">Netflix</option>
      <option value="AmazonPrime">Amazon Prime Video</option>
      <option value="DisneyPlus">Disney+</option>
      <option value="HBO">HBO</option>
      <option value="ParamountPlus">Paramount+</option>
    </select>

    {{!-- <button type="submit" class="select-platform">Search</button> --}}

    <form class="form select-platform">
        <button type="submit" class="btn btn-primary" disabled>Search</button>
    </form>
    <div>
        <input id = "application-login" type="text" placeholder="Application Login">
        <input id = "application-password" type="text" placeholder="Application password">
    </div>
</div>



{{!-- {{userData.[2].message}} --}}

{{!-- ////////////// --}}



<script src="/js/profileMatching.js"></script>